@import url('https://fonts.googleapis.com/css2?family=Abel&family=Encode+Sans:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* heading */

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
}

header > a {
    text-decoration: none;
}

h1 {
    color: #fafafa;
    font-size: 90px;
    font-family: Abel, sans-serif;
    padding-left: 20px;
    text-transform: uppercase;
}

/* navigation links */

nav {
    font-family: 'Encode Sans', sans-serif;
    height: 100px;
}

#menu {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    line-height: 40px;
    height: inherit;
}

#menu a {
    color: #fafafa;
    text-decoration: none;
    padding: 20px;
    border-left: 2px solid #fafafa;
}

#menu li {
    list-style-type: none;
}

#menu a:hover {
    color:rgb(30, 30, 30);
    background-color: #fafafa;
    font-weight: bold;
    letter-spacing: 2px;
}

/* hero image */

#hero-image-outer {
    border: 5px solid red;
    height: 600px;
}

/* for medium screen sizes from 950px wide and down */

@media screen and (max-width:950px) {
    header {
        flex-direction: column;
        height: 150px;
        justify-content: flex-start; 
    }

    h1 {
        font-size: 60px;
        padding: 0;
    }

    #menu {
        height: 50px;
    }

    #menu a {
        padding: 20px 40px;
    }

    #find-us-nav {
        border-right: 2px solid #fafafa;
    }

    nav {
        margin-top: 5px;
    }
}

/* for small screen sizes from 500px wide and down */

@media screen and (max-width:500px) {
    header {
        flex-direction: column;
        height: 150px;
        justify-content: flex-start; 
    }

    h1 {
        font-size: 60px;
        padding: 0;
    }

    #menu {
        height: 50px;
    }

    #menu a {
        padding: 15px;
    }

    #find-us-nav {
        border-right: 2px solid #fafafa;
    }

    nav {
        margin-top: 5px;
    }
}